* { margin:0; padding:0 }
body { font-family:arial; font-size:14px; }
h1, h2, h3, h4 { font-size:14px; font-weight:normal; }

h2{
	font-weight:bold;
	margin:15px 0 10px;
}

div.wrap {
	width:512px;
	margin:0 auto;
}

.field label {
	display:inline-block;
	width : 256px;
	margin:10px 0;
}

#game { 
	background:#503000;
	position:relative;
	overflow:hidden;
	image-rendering: pixelated; /* future */
	image-rendering: -webkit-optimize-contrast; /* webkit */
	image-rendering: -moz-crisp-edges; /* Firefox */
	cursor:pointer;
}