* { margin:0; padding:0 }
body { font-family:arial; font-size:14px; }
h1, h2, h3, h4 { font-size:14px; font-weight:normal; }

#game { 

	width:960px;
	height:720px;

	background:#EEE;
	position:relative;
	overflow:hidden;
	image-rendering: -webkit-optimize-contrast; /* webkit */
	image-rendering: -moz-crisp-edges /* Firefox */
}

#game * {
	position:absolute;
	
}